.header {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #489DDA;
  padding: 1rem;
}

.logo {
  font-size: 2rem;
  width: 50rem;
  color: white;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

.header a:hover,
.header a:active,
.header a.active {
  color: rgb(58, 58, 58);
}

.badge {
  background-color: #c3def0;
  color: white;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
}

.welcome{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-weight: bold;
}

.btnDeReg{
  font-size: 1rem;
  color: black;
  text-align: center;
  background-color: #aeddf3;
  display: flex;
  align-content: center;
  align-items: center;
  box-shadow: black;
  border-radius: 4px;
}

.Course{
  display: flex;
  flex-direction: column;
  align-content: center;
}


.radio{
  display: flex;
  flex-direction: column;

}

.radio:hover{
  color: rgb(0, 0, 0);
}

.onboard{
  color: rgb(59, 142, 208);
  background-color: rgb(112, 36, 254);
  border-radius: 5px;

}


.firsthead {
  width: 100%;
  color: #489DDA;
  font-weight: bold;
  font-size: 1.5rem;
  font-weight: bolds;
  justify-content: space-between;
  padding: 1rem;
}


.contentcontainer {
    padding: 3%;
    height: 100vh;
    background-color: white;
    
}

.rating{
  border:solid #ffffff;
    border-radius: 5px;
    border-color:rgb(108, 108, 108)9;
}

.card-group {
    justify-content: center;
}

.card-grid, .card {
    padding: 2px 2px !important;
    height: 20rem;
    justify-content: center;
    margin: 1rem;
    width: 10rem;
}

.card-body {
    background-color: #F6F5F5;
    margin: 0;
}

.cardimg,
.cardimg-top,
.cardimg-bottom {
    height: 5rem;
    max-width: 10%;
    width: auto;
    align-content: flex-start;
}

.card-text {
    height: fit-content;
    margin-bottom: 2rem;
}

.btn {
    margin-top: 2cm;
    color: #489DDA;
    
}





* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(4, 25, 253, 0.2); /* this adds the "card" effect */
  border:solid #f8f8f8;
  width: 7cm;
  color: white;
  border-radius: 5px;
  padding: 16px;
  text-align: center;
  background-color: #489DDA;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    
  }
}

.descr{
  margin-top: 4cm;
}

.contentname{
  margin-top: 0.4cm;
  font-size: 1.5rem;
  font-weight: bolds;
}

.prizes{
  font-size: 1.5rem;
  font-weight: bolds;
}

.quiz{
  padding: 50px;
}

.progressquiz{
  margin-left: 6cm;
  margin-right: 6cm;
}

.quizcontent{

  margin-top: 1cm;
  padding: 20px;
  margin-left: 2cm;
  margin-right: 2cm;
  height: 55vh;
  border-radius: 5px;
  color: white;
  font-size: 1.7rem;
  background-color: #489DDA;
}