.header {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #489DDA;
  padding: 1rem;
}

.logo {
  font-size: 2rem;
  width: 50rem;
  color: white;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

.header a:hover,
.header a:active,
.header a.active {
  color: rgb(58, 58, 58);
}

.badge {
  background-color: #c3def0;
  color: white;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
}

.welcome{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-weight: bold;
}

.btn3{
color: black;
 background-color: #aeddf3;
outline: black;
padding: 1rem;
border-radius: 4px;
width: 20rem;
}

.buttons{
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  outline: black;
}

.buttons :hover{
  background-color: rgb(32, 206, 236);
}
